<div class="home-container">
  <p class="title">Start to become a product tester</p>
  <p class="tip-point">Get products needed for free</p>
  <p class="tip-point">Can work at home</p>
  <p class="tip-point">Help reduce economic burden</p>
  <p class="description-title">How we work?</p>
  <p class="description-content">Do amazon products free testing. You receive products from various sellers free and in exchange, you give them a review.
    All you need to participate is have an Amazon prime account and the willingness to help the sellers by reviewing their items.
    Products will update a few days. It have ranged from Home, pets, smart, electronics, kitchen, office, outdoor tools and toys, babys, clothes, ect.
    Thank you!!!</p>
</div>
